<div class ="maestro-productos-main-div">
    <div class="maestro-productos-title">
        <h1>Maestro de Productos</h1>
    </div>
    <div class="maestro-productos-create-div">
        <button type="button" class="btn btn-primary btn-lg" id="btn-create-product" (click)="createProduct()">Crear Producto</button>
    </div>
    <div class="maestro-productos-table-div">
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th scope="col">Código</th>
                <th scope="col">EAN</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Precio</th>
                <th scope="col">Estado</th>
                <th scope="col">Editar</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of products">
                <th scope="row">{{product.codigoProducto}}</th>
                <td data-editable="true">{{product.eanproducto}}</td>
                <td>{{product.descripcion}}</td>
                <td>{{product.nombre}}</td>
                <td>{{product.precio}}</td>
                <td>{{product.nombreEstado}}</td>
                <td><button type="button" class="btn btn-primary btn-lg" id="btn-edit-product" (click)="editProduct(product.idProducto)">Editar</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
